@use "src/styles/variables" as *;
@use "src/styles/mixin" as *;

@mixin defaultCheck{
    border:1px solid $color-grey-13;
    position: relative;

    width: 18px;
    height: 18px;
}

.circle{
    @include defaultCheck;
    border-radius: 100%;

}

.circle::after {
    content: "";
    display: block;
    border-radius: 100%;
    width: $size-3;
    height: $size-3;
    background-color: $color-black-01;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
}
.circle.circleActive::after {
    opacity: 1;
}

.square{
    @include defaultCheck;
    @include flexCenter;
    border-radius: 5px;

}
.square.squareActive {
    @include flexCenter;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    background-color: $color-black-05;
    border: 1px solid $color-black-05;
}