.circle{
    border:1px solid #6D6D6D;
    border-radius: 100%;
    width: 18px;
    height: 18px;
    position: relative;
}

.circle::after {
    content: "";
    display: block;
    border-radius: 100%;
    width: 12px;
    height: 12px;
    background-color: #000000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.2s;
}
.circle.circleActive::after {
    opacity: 1;
}

.square{
    border:1px solid #6D6D6D;
    border-radius: 5px;
    width: 18px;
    height: 18px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}
.square.squareActive {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    border-radius: 5px;
    background-color: #0A0A0A;
    border: 1px solid #0A0A0A;
}