@use "variables" as *;

.hide{
  visibility: hidden;
}

.title{
  font-size: $size-5;
  font-weight: 600;
  line-height: 29px;
  color: $color-grey-07;
  margin-bottom: $size-4;
}

.margin-top-auto {
  margin-top: auto;
}

.margin-bottom-medium {
  margin-bottom: $size_4;
}

.absolute-center{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}