// COLORS
// Whites
$color-white-01: #ffffff;
$color-white-02: #fdfdfd;
$color-white-03: #fbfbfb;
$color-white-04: #fefeee;


// Greys
$color-grey-01: #efefef;
$color-grey-02: #dcdcdc;
$color-grey-03: #858585;
$color-grey-04: #606060;
$color-grey-05: #585858;
$color-grey-06: #464646;
$color-grey-07: #333333;
$color-grey-08: #282828;
$color-grey-09: #3a3b40;
$color-grey-10: #D4D4D4;
$color-grey-11: #F5F5F5;
$color-grey-12: #DDDDDD;
$color-grey-13: #6D6D6D;


// Blacks
$color-black-01: #000000;
$color-black-02: #1a1a1a;
$color-black-03: #212121;
$color-black-04: #3A3B40;
$color-black-05: #0A0A0A;


// Colors
$color-olive-01: #8f8f00;
$color-red-01: #eb4f4f;
$color-yellow-01: #f2f2c5;
$color-pale-01: #edede5;


// ANIMATIONS
$default-animation: all 0.3s ease-in-out;

// FONT
$medium-font-weight: 500;
$extra-bold-font-weight: 800;

// SIZES
$size-2: 8px;
$size-3: 12px;
$size-4: 16px;
$size-5: 20px;