@use "src/styles/variables" as *;
@use "src/styles/mixin" as *;

@mixin desktopSize{
  width: 700px;
  margin: 0 auto 20px auto;
}

.title-plans{
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;

  color:$color-grey-07;
  text-align: center;

  margin-bottom: $size-5;
}

.list-plans{
  margin-bottom: $size-5;
}
.money-back{
  @include flexCenter;
  gap: 4px;
  margin-bottom: $size-2;

  color:$color-grey-04;
  font-size: 14px;
  line-height: 26px;
  font-weight: 500;
}



@media screen and (min-width: 960px){
  .list-plans{
  @include desktopSize
  }
}

@media screen and (min-width: 960px){
  .discount{
    @include desktopSize
  }

}