@use "src/styles/variables" as *;


@mixin isActive {
  background-color: $color-white-04;
  border:1px solid $color-olive-01;
}

.option{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: $size-3;
  gap: $size-2;
  border: 1px solid $color-grey-10;
  border-radius: $size-3;
  background-color: $color-white-02;
  cursor: pointer;

  &_is-selected{
    @include isActive;
  }
 &:hover{
   @include isActive;
 }

}
